form {
	display: grid;
	grid-gap: 5px;
	grid-template-columns: 1fr 2fr 30px;
}

label {
	text-align: right;
	grid-column: 1;
}

input {
	grid-column: 2 / 4;
}

#url-input {
	grid-column: 2;
	grid-row: 1;
}

#get_button {
	grid-column: 3;
	grid-row: 1;
	padding: 0px;
}

#intensify_button {
	grid-column: 1 / 4;
	grid-row: 6;
	height: 35px;
}

* {
	margin: 0;
}

html,
body {
	height: 100%;
}

h1 {
	padding: 50px;
	text-align: center;
}

.msg_box {
	text-align: center;
	padding: 5px 0px;
	margin: 5px 0px;
}

#error {
	color: #D8000C;
	background-color: #FFBABA;
}

#loading {
	color: #00529B;
	background-color: #BDE5F8;
}

#ready {
	color: #4F8A10;
	background-color: #DFF2BF;
}

#intensifying {
	color: #00529B;
	background-color: #BDE5F8;
}

#center {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -28px;
	min-height: 100%;
}

#center:after {
	content: "";
	display: block;
}

#site_footer,
#center:after {
	height: 28px;
}

footer {
	padding: 3px 0px;
	font-size: 0.8em;
	text-align: center;
	background: orange;
}